.slider img, .card-image {
   height: 450px;
   object-fit: cover;
}

/* Shop Nav CSS */
.ant-menu-submenu li {
   padding-left: 16px !important;
}

span.ant-menu-title-content {
   overflow: visible !important
}

.ant-menu-inline .ant-menu-item {
   height: auto;
}

.shopNavSub {
   width: 100px
}

span.h6 {
   margin-bottom: 0;
}

/* fixing ant designs icons alignment and header menu spaceing */

.anticon {
   vertical-align: 0em;
}
.ant-menu-item-group-title {
   display: none;
}

.ant-menu {
   justify-content: space-between;
}


.ant-menu::before, .ant-menu::after {
   content: none;
}

.ant-card .ant-card-actions {
   background-color: rgba(0, 0, 0, 0.075);
}